body {
    font-family: Arial, sans-serif;
    background-image: url('livra.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #333;
    text-align: center;
}

.celula {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-botton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-botton:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 5px 0 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    background-image: url('livra.jpg');
    padding: 20px;
    color: white;
    text-align: center;
}
